#card {
    background-color: #00b3d6;
    width: 23rem;
    border-radius: 20px;
}

#card_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#temp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#description_container {
    text-align: center;
}

.description_item {
    transition: 0.1s ease-in-out;
    background-color: #00b3d6;
    color: #ffffff;
}

img {
    width: 40px;
    height: 40px;
}

/* media queries */
@media screen and (min-width: 320px) {
    #card {
        margin: 4%;
    }
}
@media screen and (min-width: 481px) {
    #card {
        margin: 1%;
    }
}