@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&family=Space+Grotesk:wght@500&display=swap');

body {
  font-family: 'Public Sans', sans-serif;
  background: #00b4d8;
  color: #ffffff;
}